
body{
  background-color: lightblue;
  margin: 0 10%;
  font-family: sans-serif;
  text-align: center:
}

h1{
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
  border-bottom: 2px solid white;
  margin-top: 30px; 
}

footer{
  color: grey;
  font-size: 10px
  font-family: serif;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-top: 2px solid white
}

h2{
  color: white;
  font-family: sans-serif;
  text-align: center;
}

p{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}
 ul {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  text-align: center;
  display: block;
  background-color: white;
}
 li {
  display: inline;
  padding: 18px 20px;
}

 li a:hover {
   background-color: #d2d2d2;
}
